@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Text:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f5f5f5;
    height: 100vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    transition: transform 0.3s ease;
    z-index: 1000;
}

nav.hide {
    transform: translateY(-100%);
}

ul{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 2rem;
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

a:hover{
    color: #c2d076;
}

section {
    margin-top: 80px;
    margin-bottom: 5px;
    height: 100vh;
    border: 1px solid black;
}