@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Text:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5f5f5;
    width: 100%;
    min-height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    transition: transform 0.3s ease;
    z-index: 1000;
    backdrop-filter: blur(5px);
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0);
}

nav.hide {
    transform: translateY(-100%);
}

ul {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 2rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

#navbar {
    transition: top 0.3s ease;
}

#navbar.hide {
    top: -100px;
    /* hide navbar upward */
}


a:hover {
    color: #c2d076;
}

section {
    min-height: 100vh;
    width: auto;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
}

img {
    width: 300px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fa-location-dot {
    margin-right: 8px;
}

.icons {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.icons a {
    font-size: 1.5rem;
    color: #333;
    transition: color 0.3s ease;
}

.icons a:hover {
    color: #c2d076;
}

.left {
    flex: 1;
    padding-left: 50px;
}

.left h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.left p {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #555;
    margin-bottom: 5px;
}

.skills-content {
    width: 100%;
    padding: 0px 25px 0px 25px;
    margin: 0;
}

.skill-title {
    text-align: center;
    margin-bottom: 25px;
}

.skill-icon {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skill-card i {
    font-size: 6rem;
}

.skill-card h1 {
    font-size: 15px;
}

.skill-card p {
    font-size: 14px;
    text-align: center;
}

.project-title {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.parent-1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    place-items: center;
    padding: 0px 50px 10px 50px;
}

.project-img {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
}

.project-img img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.project-description {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
}

.parent-2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    place-items: center;
    padding: 0px 50px 10px 50px;
}

.project-description-2 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    text-align: end;
}

.project-img-2 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
}

.project-img-2 img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.content-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.card-contact {
    width: fit-content;
    padding: 30px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.contact-title {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.field {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.contact-message {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
}

.submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-btn button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #c2d076;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.submit-btn button:hover{
    background-color: #a4b95e;
}

input, textarea{
    padding: 5px;
}

.contact-form{
    width: 25rem;
}

.other-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 20rem;
    border-left: 2px solid rgba(0, 0, 0, 0.214);
}

.address i{
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.address p{
    font-weight: normal;
    margin-left: 5px;
}

.social .icons{
    margin-top: 3px;
}

.icons a,
.icons a:hover,
.icons a:focus {
  text-decoration: none;
}
