@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Text:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f5f5f5;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.border{
    display: flex;
    gap: 5rem;
    border: 3px solid #000;
    padding: 4px;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;
}

a {
    position: relative;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s ease;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: #333;
    transition: width 0.3s ease;
}

a:hover::after {
    width: 100%;
}

section {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-content{
    display: flex;
    align-items: center;
    justify-content: center;
}