@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Text:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5f5f5;
    width: 100%;
    min-height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    transition: transform 0.3s ease;
    z-index: 1000;
    backdrop-filter: blur(5px);
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0);
}

nav.hide {
    transform: translateY(-100%);
}

ul {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 2rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

#navbar {
    transition: top 0.3s ease;
  }
  
  #navbar.hide {
    top: -100px; /* hide navbar upward */
  }
  

a:hover {
    color: #c2d076;
}

section {
    min-height: 100vh;
    width: auto;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
}

img {
    width: 300px;
}

.fa-location-dot {
    margin-right: 8px;
}

.icons {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.icons a {
    font-size: 1.5rem;
    color: #333;
    transition: color 0.3s ease;
}

.icons a:hover {
    color: #c2d076;
}

.left {
    flex: 1;
    padding-left: 50px;
}

.left h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.left p{
    font-size: 1.4rem;
    line-height: 1.5;
    color: #555;
    margin-bottom: 5px;
}

.skills-content {
    width: 100%;
    padding: 0px 25px 0px 25px;
    margin: 0;
}

.skill-title{
    text-align: center;
    margin-bottom: 25px;
}

.skill-icon{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.skill-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skill-card i{
    font-size: 6rem;
}

.skill-card h1{
    font-size: 15px;
}

.skill-card p{
    font-size: 14px;
    text-align: center;
}